<div class="container mt-5 mb-5">
    
    <h1 class="text-3xl fw-bold text-center mb-5">Restaurantes Disponibles</h1>

    @if (isLoading) {
        <div class="text-center py-5">
            <div class="spinner-border text-secondary">
                <span class="visually-hidden">Cargando...</span>
            </div>
            <p class="text-secondary mt-2">Cargando la lista de restaurantes...</p>
        </div>
    } 
    @else if (restaurants.length === 0) {
    <div class="alert bg-success text-center text-white py-4" role="alert">
      Aún no hay restaurantes registrados.
    </div>
  } 
   @else {
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

                @for (rest of restaurants; track rest.id) { 
                    <div class="col">
                    
                        <div class="card h-100 shadow border-0 hover-lift">
                            
                            <div style="position: relative;">

                            <img [src]="rest.image || 'placeholder.jpg'" 
                                 [alt]="rest.restaurantName" 
                                 [style.height.px]="200" 
                                 [style.object-fit]="'cover'"
                                 class="card-img-top">

                            <button 
                                class="btn btn-light rounded-circle shadow p-2"
                                style="position: absolute; top: 10px; right: 10px; z-index: 10;"
                                title="Marcar como favorito"
                                (click)="onToggleFavorite(rest)">

                                <i class="bi fs-5" 
                                    [class.bi-heart-fill]="rest.isFavorite"
                                    [class.text-danger]="rest.isFavorite"
                                    [class.bi-heart]="!rest.isFavorite"
                                    [class.text-secondary]="!rest.isFavorite">
                                </i>
                            </button>
                        </div>
                            
                            <div class="card-body">
                                <h5 class="card-title text-success">{{ rest.restaurantName }}</h5>
                                <p class="card-text text-muted mb-3">{{ rest.address }}</p>
                                @if (rest.category) { 
                                <span class="badge bg-warning text-dark">{{ rest.category }}</span>
                                }
                            </div>
                            
                            <div class="card-footer bg-light border-0">
                                <a routerLink="/menu/{{ rest.id }}" class="btn btn-primary w-100">
                                    Ver Menú
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }