<header class="main-header">
    <h1> Menu del restaurante ID: {{ restaurantId }}</h1>
</header>
    <nav class="navbar">
        <div class="nav-brand">
            <a routerLink="/menu" class="logo-link">
                <span class="app-name">Menú Digital</span>
            </a>
        </div>
        <div>
            <a routerLink="/register" class="nav-link register-btn">Regístrate</a>
        </div>
    </nav>
<main class="menu-container">

  <section class="categories-nav">
    @for (cat of categories; track cat.name) {
      <button 
      class="categories-btn"
      [class.active]="currentCategoryId === cat.categoryId && currentIsDiscount === cat.isDiscount"
      (click) = "selectCategory(cat.categoryId, cat.isDiscount)">
      
      {{ cat.name }}
      </button>
      }
  </section>

    @if (isLoading){
        <div class="spinner-area">
            <app-spinner></app-spinner>
        </div>
    } @else {
    <div class="products-list">
      @for (item of menu; track item.id) {
        <app-product-card 
          [product]="item" 
          (viewDetail)="openModal($event)">
        </app-product-card>
      } @empty {
        <p>No se encontraron productos.</p>
      }
    </div>
  }
</main>

@if (selectedProduct) {
  <app-product-detail-modal 
    [product]="selectedProduct!" 
    (close)="closeModal()">
  </app-product-detail-modal>
}