<article class="card mb-3 border-0 shadow-sm h-100 hover-shadow" (click)="verDetalle()">
  <div class="row g-0 align-items-center">
    <div class="col-8">
      <div class="card-body py-2 ps-3 pe-0">
        <h5 class="card-title text-primary fw-bold text-uppercase mb-1">
          {{ product().name }}
        </h5>
        <p class="card-text text-muted small mb-2 text-truncate-multiline">
          {{ product().description || 'Descripción del producto no disponible.' }}
        </p>
        
      <p class="card-text m-0">
      @if (tieneDescuentoOHh() && product().isDiscount) { 
        <small class="text-decoration-line-through text-muted me-2">
          {{ product().price | currency:'ARS':'symbol':'1.0-0' }}
        </small>
        <span class="fw-bold fs-5 text-dark">
          {{ precioActual() | currency:'ARS':'symbol':'1.0-0' }}
        </span>
      } @else {
            <span class="fw-bold fs-5 text-dark">
              {{ product().price | currency:'ARS':'symbol':'1.0-0' }}
            </span>
          }
        </p>
      </div>
  </div>

  <div class="col-4 d-flex justify-content-end p-2">
        <img [src]="product().imageUrl || 'platos.jpg'"
             [alt]="product().name"
             class="card-img-top" 
            style="height: 200px; object-fit: cover;">

    </div>
  </div>
</article>