<article class="product-card">
  <div class="product-card-info">
    <header class="product-card-header">
      <h3 class="product-title">{{ product().name }}</h3>
      @if (tieneDescuentoOHh) { 
        <span>OFERTA</span>
      }
    </header>
    <div class="product-card-price">
      @if (tieneDescuentoOHh() && product().isDiscount) {
        <span class="precio-viejo">
        {{ product().price | currency:'ARS':'symbol':'1.0-0' }}
        </span>
        <span class="precio-nuevo">
        {{ precioActual() | currency:'ARS':'symbol':'1.0-0' }}
        </span>
        } @else {
            <span>{{ product().price | currency:'ARS':'symbol':'1.0-0' }}</span>
              }
      </div>
  </div>
   @if (product().imageUrl) {
    <div class="product-card-image-cuadro">
   <img src="product().imageURL" 
   alt="product().name"
   class="product-card-image">
  </div>
   }
</article>