<div id="container" class="card">
  <h1>Iniciar sesión</h1>

  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div>
    <label for="restaurantName">Nombre del Restaurante</label>
    <input id="restaurantName" name="restaurantName" type="text" ngModel required restaurantName #restaurantName="ngModel" required="true" autocomplete="restaurantName" class="">
    @if (restaurantName.dirty || restaurantName.touched){
        <p class="error">Nombre no encontrado</p>
    } 
  </div>


  <div>
    <label for="password">Contraseña</label>
    <input id="password" name="password" type="password" ngModel #password="ngModel" minlength="4" autocomplete="current-password" class="">
    @if (password.invalid && !password.pristine) {
      <p class="error">Contrseña incorrecta</p>
    } 
  </div>

  <div>
  </div>
  @if (isLoading){
        <div class="">
            <app-spinner></app-spinner>
        </div>
      }

      @if (errorLogin) {
        <span class=""> Datos de sesión incorrectos, intenta nuevamente</span>
      }

  <div class="">
      <span class="">¿No tenés cuenta?</span>
      <a routerLink="/register" class="">Registrate</a>
   </div>

  </form>

  </div>