<div class="card auth-box">
    <h1 class="form-title">Crear Cuenta</h1>

    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" class="register-form-content">
    <div class="form-item">
        <label for="restaurantName">Nombre del restaurante</label>
        <input id="restaurantName" name="restaurantName" type="text" ngModel required restaurantName #restaurantName="ngModel" autocomplete="restaurantName" class="input-text">
    
@if (restaurantName.dirty || restaurantName.touched) {
        @if (restaurantName.errors?.['required']) {
            <span class="text-error">El nombre del Restaurante es obligatorio.</span>
        }
    }
    </div>

    <div class="form-item">
        <label for="firstName">Nombre</label>
        <input id="firstName" name="firstName" type="text" ngModel required firstName #firstName="ngModel" autocomplete="firstName" class="input-text">
    </div>
    
    <div class="form-item">
        <label for="lastName">Apellido</label>
        <input id="lastName" name="lastName" type="text" ngModel required lastName #lastName="ngModel" autocomplete="lastName" class="input-text">
    </div>

    <div class="form-item">
        <label for="password">Contraseña</label>
        <input id="password" name="password" type="password" ngModel required minlength="4" #password="ngModel" autocomplete="new-password" class="input-text">
    @if (password.invalid && !password.pristine) {
            @if (password.errors?.['required']) {
            <span class="text-error">La contraseña es obligatoria.</span>
            }
            @if (password.errors?.['minlength']) {
            <span class="text-error">Debe tener al menos 4 caracteres.</span>
            }
    }
    </div>

    <div class="form-item">
        <label for="password2">Repite la contraseña</label>
        <input id="password2" name="password2" type="password" ngModel required #password2="ngModel" autocomplete="new-password" class="input-text">
    @if (password2.invalid && !password2.pristine) {
            @if (password2.errors?.['required']) {
            <span class="text-error">Debes repetir la contraseña.</span>
            }
        }
        @if (!password2.pristine && password.value !== password2.value && !password2.errors?.['required']) {
            <span class="text-error">Las contraseñas no coinciden.</span>
        }
    </div>

    <div class="form-item">
        <label for="address">Dirección</label>
        <input id="address" name="address" type="text" ngModel required address #address="ngModel" autocomplete="address" class="input-text">
    </div>

    <div class="form-item">
        <label for="phoneNumber">Numero de teléfono</label>
        <input id="phoneNumber" name="phoneNumber" type="text" ngModel required phoneNumber #phoneNumber="ngModel" autocomplete="phoneNumber" class="input-text">
    </div>

    <div class="form-actions">
    <button type="submit" [disabled]="isLoading || registerForm.invalid" class="button button-main button-full">
        <span>Registrarse</span>
    </button>
</div>

    @if(isLoading){
    <div class="spinner-area">
        <app-spinner></app-spinner>
    </div>
    }

    @if (errorRegister) {
    <span class="text-error general-form-error">Error al registrar. Por favor, intente nuevamente.</span>
    } 

    <div class="form-footer">
            <span class="footer-text">¿Ya tenés cuenta?</span>
            <a routerLink="/login" class="footer-link">Inicia sesión</a>
    </div>
    </form>
</div>
